body {
    @apply antialiased;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
    Based on: https://codepen.io/nickelse/pen/YGPJQG
    Influenced by: https://sproutsocial.com/
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


/* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}


/* #hoverable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hoverable {
    position: static;
}

.hoverable>a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
}


/* #toggle Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable>label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.toggle-input {
    display: none;
}

.toggle-input:not(checked)~.mega-menu {
    display: none;
}

.toggle-input:checked~.mega-menu {
    display: block;
}

.toggle-input:checked+label {
    color: white;
    background: #2c5282;
    /*@apply bg-blue-800 */
}

.toggle-input:checked~label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.bg-gradient-footer {
    background: url(/src/img/escheresque.png), linear-gradient(-90deg, #5f54f1, #4398ee)
}

%transition_all_03s {
    transition: all .3s ease;
}

%backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 80%;
    height: 100vh;
    // display:inline-block;
    // vertical-align:top;
    float: left;
    transition: opacity .6s ease, transform .3s ease;
    &.nav-slider {
        width: 20%;
        padding-left: 5px;
        .swiper-slide {
            cursor: pointer;
            opacity: .4;
            transition: opacity .3s ease;
            &.swiper-slide-active {
                opacity: 1;
            }
            .content {
                width: 100%;
                .title {
                    font-size: 20px;
                }
            }
        }
    }
    &:hover {
        .swiper-button-prev,
        .swiper-button-next {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
    &.loading {
        opacity: 0;
        visibility: hidden;
    }
}

.swiper-wrapper {}

.swiper-slide {
    overflow: hidden;
    @extend %backface_visibility_hidden;
    .slide-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .entity-img {
        display: none;
    }
    .content {
        position: absolute;
        top: 40%;
        left: 0;
        width: 50%;
        padding-left: 5%;
        color: #fff;
        .title {
            font-size: 2.6em;
            font-weight: bold;
            margin-bottom: 30px;
        }
        .caption {
            display: block;
            font-size: 13px;
            line-height: 1.4;
            transform: translateX(50px);
            // opacity:0;
            transition: opacity .3s ease, transform .7s ease;
            &.show {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
    @extend %transition_all_03s;
}

.swiper-button-prev {
    transform: translateX(50px);
}

.swiper-button-next {
    transform: translateX(-50px);
}